.cart_txt1 {
  position: absolute;
  height: 400px;
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 75px;
  -webkit-text-stroke: 3px black;
  line-height: 120%;
}
@media (min-width: 720px) and (max-width: 920px) {
  .cart_txt1 {
    height: 300px;
    width: 300px;
    font-size: 60px;
    -webkit-text-stroke: 2.4px black;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  .cart_txt1 {
    height: 240px;
    width: 240px;
    font-size: 50px;
    -webkit-text-stroke: 1.8px black;
  }
}
@media (max-width: 576px) {
  .cart_txt1 {
    height: 140px;
    width: 140px;
    font-size: 30px;
    -webkit-text-stroke: 1.2px black;
  }
}

.cart_txt2 {
  position: absolute;
  height: 400px;
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  font-family: "Bangers", cursive;
  color: white;
  font-size: 40px;
  -webkit-text-stroke: 1.6px black;
  line-height: 120%;
}
@media (min-width: 720px) and (max-width: 920px) {
  .cart_txt2 {
    height: 300px;
    width: 300px;
    font-size: 30px;
    -webkit-text-stroke: 1.2px black;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  .cart_txt2 {
    height: 240px;
    width: 240px;
    font-size: 20px;
    -webkit-text-stroke: 0.8px black;
  }
}
@media (max-width: 576px) {
  .cart_txt2 {
    height: 140px;
    width: 140px;
    font-size: 12px;
    -webkit-text-stroke: 0.6px black;
  }
}

.cart_fnd {
  height: 400px;
  width: 400px;
  position: absolute;
  background: rgb(255, 73, 41);
  background: -moz-linear-gradient(148deg, rgb(255, 73, 41) 1%, rgb(244, 232, 36) 20%, rgb(245, 242, 185) 50%, rgb(244, 232, 36) 80%, rgb(255, 73, 41) 100%);
  background: -webkit-linear-gradient(148deg, rgb(255, 73, 41) 1%, rgb(244, 232, 36) 20%, rgb(245, 242, 185) 50%, rgb(244, 232, 36) 80%, rgb(255, 73, 41) 100%);
  background: linear-gradient(148deg, rgb(255, 73, 41) 1%, rgb(244, 232, 36) 20%, rgb(245, 242, 185) 50%, rgb(244, 232, 36) 80%, rgb(255, 73, 41) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4929",endColorstr="#ff4929",GradientType=1);
}
@media (min-width: 720px) and (max-width: 920px) {
  .cart_fnd {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  .cart_fnd {
    height: 240px;
    width: 240px;
  }
}
@media (max-width: 576px) {
  .cart_fnd {
    height: 140px;
    width: 140px;
  }
}

.cont_i, .cont_f, .cont_m, .cont_d, .cont_t, .cont_w {
  background-color: #fcf1ee;
  display: flex;
  align-items: center;
  font-family: "Sora", sans-serif;
  font-size: 20px;
}
@media (min-width: 720px) and (max-width: 920px) {
  .cont_i, .cont_f, .cont_m, .cont_d, .cont_t, .cont_w {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  .cont_i, .cont_f, .cont_m, .cont_d, .cont_t, .cont_w {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .cont_i, .cont_f, .cont_m, .cont_d, .cont_t, .cont_w {
    font-size: 15px;
  }
}

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.centrar {
  padding-left: 3px;
  padding-right: 3px;
}

.fondo {
  background-image: url("../img/fondopag.png");
}

.pedidowa {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 100px;
  width: 100px;
}
@media (max-width: 576px) {
  .pedidowa {
    height: 80px;
    width: 80px;
  }
}

.nav-mine {
  font-family: "Sora", sans-serif;
  color: black;
  background-color: #fcf1ee;
  padding-left: 50px;
}

.nav_marg {
  padding: 0;
  margin: 0;
}

.f-p1 {
  grid-area: f-p1;
}

.f-p4 {
  grid-area: f-p4;
}

.f-p5 {
  grid-area: f-p5;
}

.f-p6 {
  grid-area: f-p6;
}

.f-i1 {
  grid-area: f-i1;
}

.f-i2 {
  grid-area: f-i2;
}

.f-i3 {
  grid-area: f-i3;
}

footer {
  background-color: white;
  font-family: "Sora", sans-serif;
  font-size: 25px;
  padding: 10px;
  display: grid;
  grid-template-columns: 45% 5% 20%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "f-p1 f-i1 f-p4" "f-p1 f-i2 f-p5" "f-p1 f-i3 f-p6";
  justify-content: center;
  justify-items: stretch;
  align-items: center;
}
footer p, footer img {
  margin: 0;
}
@media (min-width: 720px) and (max-width: 920px) {
  footer {
    grid-template-columns: 55% 4% 20%;
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  footer {
    grid-template-columns: 65% 4% 20%;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  footer {
    grid-template-columns: 15% 10% 50% 15%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: ". f-p1 f-p1 f-p1" ". f-i1 f-p4 ." ". f-i2 f-p5 ." ". f-i3 f-p6 .";
    font-size: 15px;
  }
}

header {
  margin-top: 20px;
}

.social_tit {
  padding: 5px;
  background-color: white;
  font-weight: 500;
  text-align: center;
  transition: all 1s;
}
.social_tit:hover {
  transform: scale(1.1);
}

.caract {
  background-color: white;
  font-family: "Sora", sans-serif;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}
.caract h1 {
  padding-top: 25px;
  padding-left: 15px;
  font-size: 70px;
  font-weight: bold;
}
.caract h2 {
  padding-top: 25px;
  padding-left: 15px;
  font-size: 40px;
}
.caract p {
  padding-left: 15px;
  font-size: 30px;
}
@media (max-width: 576px) {
  .caract h1 {
    padding-top: 25px;
    padding-left: 15px;
    font-size: 40px;
    font-weight: bold;
  }
  .caract h2 {
    padding-top: 25px;
    padding-left: 15px;
    font-size: 30px;
  }
  .caract p {
    padding-left: 15px;
    font-size: 20px;
  }
}

.borde {
  border-radius: 5%;
}

.cart_txt1 {
  transition: all 0.3s ease-out;
}

.cart_txt2 {
  transition: all 1 ease-in;
}

.banner {
  height: 400px;
}
@media (min-width: 720px) and (max-width: 920px) {
  .banner {
    height: 300px;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  .banner {
    height: 240px;
  }
}
@media (max-width: 576px) {
  .banner {
    height: 140px;
  }
}

.cart_anim:hover .cart_txt1 {
  transform: rotate(180deg) scale(0);
}
.cart_anim:hover .cart_txt2 {
  visibility: visible;
  transform: scale(2);
}

.cart_tit {
  font-family: "Bangers", cursive;
  font-size: 70px;
  color: rgba(238, 38, 24, 0.9921568627);
  padding-top: 15px;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
  transition: all 0.3s;
}

.cart_img {
  border-radius: 5%;
}

.cart_caract {
  background-color: #fcf1ee;
  font-family: "Sora", sans-serif;
  font-size: 30px;
  text-align: center;
  align-items: center;
}
.cart_caract ul {
  padding: 0;
}
.cart_caract:hover .cart_tit {
  transform: scale(1.2) rotate(-1deg);
}

.cont_cl {
  padding: 15px;
  background-color: #f0ddd8;
  grid-area: cl;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}
.cont_cl h2 {
  font-weight: bold;
}
@media (max-width: 575px) {
  .cont_cl h2 {
    font-size: 20px;
  }
}
.cont_cl fieldset input {
  width: 100%;
}

.cont_w {
  grid-area: w;
}

.cont_t {
  grid-area: t;
}

.cont_d {
  grid-area: d;
}

.cont_m {
  grid-area: m;
}

.cont_f {
  grid-area: f;
}

.cont_i {
  grid-area: i;
}

.cont_data {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "cl w" "cl t" "cl d" "cl m" "cl f" "cl i";
  justify-content: center;
  column-gap: 15px;
}
@media (max-width: 720px) {
  .cont_data {
    grid-template-columns: 80%;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "w" "t" "d" "m" "f" "i" "cl";
    justify-content: center;
  }
}

.caja_resalta:hover {
  transform: scale(1.03);
}

.caja_resalta {
  align-items: center;
  transition: all 1s;
}

/*# sourceMappingURL=style.css.map */
