%alig {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fnt-bnr;
    font-size: $sz-ppl;
    color: white;
    -webkit-text-stroke: 4px black;
}

%home_cartel {
    
    background: rgb(255,73,41);
    background: -moz-linear-gradient(148deg, rgba(255,73,41,1) 1%, rgba(244,232,36,1) 20%, rgba(245,242,185,1) 50%, rgba(244,232,36,1) 80%, rgba(255,73,41,1) 100%);
    background: -webkit-linear-gradient(148deg, rgba(255,73,41,1) 1%, rgba(244,232,36,1) 20%, rgba(245,242,185,1) 50%, rgba(244,232,36,1) 80%, rgba(255,73,41,1) 100%);
    background: linear-gradient(148deg, rgba(255,73,41,1) 1%, rgba(244,232,36,1) 20%, rgba(245,242,185,1) 50%, rgba(244,232,36,1) 80%, rgba(255,73,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4929",endColorstr="#ff4929",GradientType=1);
}