$clr-ppl: #4b5174 ;
$clr-sec: #ee2618fd;
$clr-fondo: #fcf1ee;
$clr-2: white;
$clr-txt: white;
$clr-br: black;

$sz-ppl: 100px;
$crt-px: 400px;
$br-txt: 4px;

$fnt-txt: 'Sora', sans-serif;
$fnt-bnr: 'Bangers', cursive;
