.cart_fnd {
    @extend %home_cartel;
}
.cart_txt1 {
    @extend %cart_text1;
    transition: all 0.3s ease-out;
}
.cart_txt2 {
    @extend %cart_text2;
    transition: all 1 ease-in;
}
.banner {
    height: $crt-px;
    @media (min-width: 720px) and (max-width: 920px) {
        height: $crt-px*0.75;
    }
    @media (min-width: 576px) and (max-width: 720px) {
        height: $crt-px*0.6;
    }
    @media (max-width: 576px) {
        height: $crt-px*0.35;
    }
}
.cart_anim:hover {
    .cart_txt1 {
        transform: rotate(160deg) scale(0);
    }
    .cart_txt2 {
            visibility: visible;
            transform: scale(1);
    } 
}