.cart_tit {
    @include titulos ($fnt-bnr, 70px, $clr-sec, 15px, 2px black, bold);
    transition: all 0.3s;
}
.cart_img {
    border-radius: 5% ;
    padding: 3px;
    border: 2px solid white;
    margin: 10px;
    background-color: black;
}
.cart_caract {
    background-color: $clr-fondo;
    border: 2px solid black;
    font-family: $fnt-txt;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    ul {
        padding: 0;
        h2 {
            padding-bottom: 10px;
            border-bottom: 2px solid red;
        }
    }
    &:hover {
        .cart_tit{
            transform: scale(1.2) rotate(-1deg) ;
        }   
    }
}

