.cont_cl {
    padding: 15px;  
    h2 {
        font-weight: bold;
        @media (max-width: 575px){
            font-size: $sz-ppl*0.2;
        }
    }
    fieldset input{
        width: 100%;
    }
    background-color: #f0ddd8;
    grid-area: cl;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}
.cont_w {
    @extend %cart_cont;
    grid-area: w;
}
.cont_t {
    @extend %cart_cont;
    grid-area: t;
}
.cont_d {
    @extend %cart_cont;
    grid-area: d;
}
.cont_m {
    @extend %cart_cont;
    grid-area: m;
}
.cont_f {
    @extend %cart_cont;
    grid-area: f;
}
.cont_i {
    @extend %cart_cont;
    grid-area: i;
}
.cont_data {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "cl w"
    "cl t"
    "cl d"
    "cl m"
    "cl f"
    "cl i";
    justify-content: center;
    column-gap: 15px;
    @media (max-width: 720px){
        grid-template-columns: 80%;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: 
        "w"
        "t"
        "d"
        "m"
        "f"
        "i"
        "cl";
        justify-content: center;
    }
}
.caja_resalta:hover {
    
    transform: scale(1.03);
}
.caja_resalta {
    align-items: center;
    transition: all 1s;
}