.f-p1 {
    grid-area: f-p1;
}
.f-p4 {
    grid-area: f-p4;
}
.f-p5 {
    grid-area: f-p5;
}
.f-p6 {
    grid-area: f-p6;
}
.f-i1 {
    grid-area: f-i1;
    justify-content: stretch;
    padding: 10px;
    @media (min-width: 720px) and (max-width: 920px) {
        padding: 1px;
    }
    @media (min-width: 576px) and (max-width: 720px) {
        padding: 0px;
    }
    @media (max-width: 576px) {
        padding: 4px;
    }
}
.f-i2 {
    grid-area: f-i2;
    justify-content: stretch;
    padding: 20px;
    @media (min-width: 720px) and (max-width: 920px) {
        padding: 2px;
    }
    @media (min-width: 576px) and (max-width: 720px) {
        padding: 0.8px;
    }
    @media (max-width: 576px) {
        padding: 8px;
    }
}
.f-i3 {
    grid-area: f-i3;
    justify-content: stretch;
    padding: 20px;
    @media (min-width: 720px) and (max-width: 920px) {
        padding: 2px;
    }
    @media (min-width: 576px) and (max-width: 720px) {
        padding: 0.8px;
    }
    @media (max-width: 576px) {
        padding: 8px;
    }
}
footer {
    background-color: $clr-2;
    font-family: $fnt-txt;
    font-size: $sz-ppl*0.25;
    padding: 10px;
    p, img {
        margin: 0;
    }
    display: grid;
    grid-template-columns: 45% 5% 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "f-p1 f-i1 f-p4"
    "f-p1 f-i2 f-p5"
    "f-p1 f-i3 f-p6";
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    @media (min-width: 720px) and (max-width: 920px) {
        grid-template-columns: 55% 4% 20%;
        font-size: $sz-ppl*0.2;        
    }
    @media (min-width: 576px) and (max-width: 720px){
        grid-template-columns: 65% 4% 20%;
        font-size: $sz-ppl*0.18;
    }
    @media (max-width: 576px){
        grid-template-columns: 15% 10% 50% 15%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        ". f-p1 f-p1 f-p1"
        ". f-i1 f-p4 ."
        ". f-i2 f-p5 ."
        ". f-i3 f-p6 .";
        font-size: $sz-ppl*0.15;
    }
}
