.caract {
    background-color: $clr-2;
    font-family: $fnt-txt;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    
    h1 {
        padding-top: 25px;
        padding-left: 15px;
        font-size: $sz-ppl*0.7;
        font-weight: bold;
    }
    h2 {
        padding-top: 25px;
        padding-left: 15px;
        font-size: $sz-ppl*0.4;
    }
    p {
        padding-left: 15px;
        font-size: $sz-ppl*0.3;
    }
}

.borde {
    border-radius: 5%;
    
}