.cart_fnd_txt1 {
    grid-area: cart1;
}
.cart_fnd1 {
    @extend %home_cartel;
}
.cart_txt11 {
    @extend %cart_text1;
    transition: all 0.3s ease-out;
}
.cart_txt12 {
    @extend %cart_text2;
    transition: all 1 ease-in;
}
.cartel_pizza {
    grid-area: img;
    object-fit: cover;
    width:100%;
    height:100%;
}
.cart_con_banner1 {
    padding-top: $sz-ppl/4;
    padding-bottom: $sz-ppl/4;
    display: grid;
    grid-template-columns: $crt-px 70%;
    grid-template-rows: $crt-px;
    grid-template-areas: 
    "cart1 img";
    justify-content: center;
    &:hover {
        .cart_txt11 {
            transform: rotate(180deg) scale(0);
        }
        .cart_txt12 {
            visibility: visible;
            transform: scale(2);
        }
    }  
    @media (min-width: 720px) and (max-width: 960px) {
        grid-template-columns: $crt-px*0.75 70%;
        grid-template-rows: $crt-px*0.75;
    }
    @media (max-width: 720px) {
        grid-template-columns: $crt-px*0.6 70%;
        grid-template-rows: $crt-px*0.6;
    }
}