* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.fondo {
    background-image: url("../img/fondopag.png");
}
.pedidowa {
    position: fixed;
    bottom: 0;
    right: 5px;
}