.cart_fnd_txt4 {
    grid-area: cart4;
    
}
.cart_fnd4 {
    @extend %home_cartel;
}
.cart_txt41 {
    @extend %cart_text1;
    transition: all 0.3s ease-out;
}
.cart_txt42 {
    @extend %cart_text2;
    transition: all 1 ease-in;
}
.cartel_empn {
    grid-area: img;
    object-fit: cover;
    width:100%;
    height:100%;
}
.cart_con_banner4 {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 70% $crt-px;
    grid-template-rows: $crt-px;
    grid-template-areas: 
    "img cart4";
    justify-content: center;
    &:hover {
        .cart_txt41 {
            transform: rotate(180deg) scale(0);
        }
        .cart_txt42 {
            visibility: visible;
            transform: scale(2);
        }
    }  
    @media (min-width: 720px) and (max-width: 960px) {
        grid-template-columns: 70% $crt-px*0.75;
        grid-template-rows: $crt-px*0.75;
    }
    @media (max-width: 720px) {
        grid-template-columns: 70% $crt-px*0.6;
        grid-template-rows: $crt-px*0.6;
    }
}