.cartel5 {
    grid-area: cartel5;
}
.cartel_fondo5 {
    @extend %home_cartel;
    @media (min-width: 720px) and (max-width: 960px) {
        height: $crt-px*0.75;
        width: $crt-px*0.75;
    }
    @media (max-width: 720px) {
        height: $crt-px*0.6;
        width: $crt-px*0.6;
    }
}
.cartel_text5 {
    @extend %alig;
    font-size: $sz-ppl;
    -webkit-text-stroke: $br-txt $clr-br;
    line-height: 120%;
    @media (min-width: 720px) and (max-width: 960px) {
        height: $crt-px*0.75;
        width: $crt-px*0.75;
        font-size: $sz-ppl*0.8;
        -webkit-text-stroke: $br-txt*0.8 $clr-br;
    }
    @media (max-width: 720px) {
        height: $crt-px*0.6;
        width: $crt-px*0.6;
        font-size: $sz-ppl*0.6;
        -webkit-text-stroke: $br-txt*0.6 $clr-br;
    }
    transition: all 0.3s ease-out;
}
.cartel_text6 {
    @extend %alig;
    visibility: hidden;
    font-family: $fnt-bnr;
    font-size: $sz-ppl*0.5;
    color: $clr-txt;
    -webkit-text-stroke: $br-txt*0.5 $clr-br;
    line-height: 100%;
    @media (min-width: 720px) and (max-width: 960px) {
        height: $crt-px*0.75;
        width: $crt-px*0.75;
        font-size: $sz-ppl*0.3;
        -webkit-text-stroke: $br-txt*0.3 $clr-br;
    }
    @media (max-width: 720px) {
        height: $crt-px*0.6;
        width: $crt-px*0.6;
        font-size: $sz-ppl*0.2;
        -webkit-text-stroke: $br-txt*0.2 $clr-br;
    }
    transition: all 1 ease-in;
}
.cartel_pizz {
    grid-area: img;
    object-fit: cover;
    width:100%;
    height:100%;
}
.union5 {
    display: grid;
    grid-template-columns: $crt-px 70%;
    grid-template-rows: $crt-px;
    grid-template-areas: 
    "cartel5 img";
    justify-content: center;
    &:hover {
        .cartel_text5 {
            transform: rotate(180deg) scale(0);
        }
        .cartel_text6 {
            visibility: visible;
            transform: scale(2);
        }
    }  
    @media (min-width: 720px) and (max-width: 960px) {
        grid-template-columns: $crt-px*0.75 70%;
        grid-template-rows: $crt-px*0.75;
    }
    @media (max-width: 720px) {
        grid-template-columns: $crt-px*0.6 70%;
        grid-template-rows: $crt-px*0.6;
    }
}