.cart_fnd_txt5 {
    grid-area: cart5;
}
.cart_fnd5 {
    @extend %home_cartel;
}
.cart_txt51 {
    @extend %cart_text1;
    transition: all 0.3s ease-out;
}
.cart_txt52 {
    @extend %cart_text2;
    transition: all 1 ease-in;
}
.cartel_sdw {
    grid-area: img;
    object-fit: cover;
    width:100%;
    height:100%;
}
.cart_con_banner5 {
    padding-top: 15px;
    display: grid;
    grid-template-columns: $crt-px 70%;
    grid-template-rows: $crt-px;
    grid-template-areas: 
    "cart5 img";
    justify-content: center;
    &:hover {
        .cart_txt51 {
            transform: rotate(180deg) scale(0);
        }
        .cart_txt52 {
            visibility: visible;
            transform: scale(2);
        }
    }  
    @media (min-width: 720px) and (max-width: 960px) {
        grid-template-columns: $crt-px*0.75 70%;
        grid-template-rows: $crt-px*0.75;
    }
    @media (max-width: 720px) {
        grid-template-columns: $crt-px*0.6 70%;
        grid-template-rows: $crt-px*0.6;
    }
}