.social_tit {
    padding: map-get($tit-soc , pd );
    background-color: map-get($tit-soc,bg);
    font-family: map-get($tit-soc,fnt-fly);
    font-weight: map-get($tit-soc,fnt-w); 
    text-align: map-get($tit-soc, tx-algn);
    transition: all 1s;
    &:hover {
        transform: scale(1.1);
    }
}

